<div class="background-container">

<div class="main-container-form">

<div class="breadcrumb">
<h2 class="title-form"><%= link_to "Votre projet", new_simulation_path, class:"link-back" %>
<i class="fa-solid fa-chevron-right"></i>
<%= link_to "Financement", edit_first_step_simulation_path, class:"link-back" %>
<i class="fa-solid fa-chevron-right"></i>
<%= link_to "Recettes locatives", edit_second_step_simulation_path, class:"link-back" %>
<i class="fa-solid fa-chevron-right"></i> <strong>Charges</strong>
</h2>
</div>


<div class="form-container">

<%= simple_form_for @simulation, url: update_third_step_simulation_path(@simulation), method: :patch do |f| %>

<div class="form-inline">
  <%= f.input :autres_charges,
       label: "Charges locatives mensuelles estimées",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 200" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :taxe_fonciere,
       label: "Taxe foncière annuelle",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 1 200" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

</div>

  <div class="form-inline-btn">
    <div class="progress-container">
      <div class="progress-bar-p4"></div>
  </div>

    <%= f.button :submit, "Suivant", class: "main-button" %>

  </div>
<% end %>
</div>
</div>
