
<div class="main-container">

<h2 class="title">Votre projet page 2 - Financement</h2>

<div class="form-container">

<%= simple_form_for @simulation, url: update_first_step_simulation_path(@simulation), method: :patch do |f| %>

<div class="form-inline">
  <%= f.input :apport,
       label: "Apport",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 100 000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :apport,
       label: "Montant du crédit",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 20 000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :duree_credit_an,
       label: "Durée du crédit (ans)",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline-l2", placeholder: "Ex : 25" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"></p>
</div>

<div class="form-inline">
  <%= f.input :taux_interet,
       label: "Taux d’intérêt hors assurance",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline-l3", placeholder: "Ex : 3,5" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>%</strong></p>
</div>

<div class="form-inline">
  <%= f.input :taux_assurance,
       label: "Taux assurance emprunt",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline-l3", placeholder: "Ex : 0,36" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>%</strong></p>
</div>

</div>

  <div class="form-inline-btn">
    <div class="progress-container">
      <div class="progress-bar-p2"></div>
    </div>

    <%= f.button :submit, "Suivant", class: "main-button" %>

  </div>
<% end %>
</div>
