<div class="background-container">

<div class="main-container-form">

<div class="breadcrumb">
<h2 class="title-form"><%= link_to "Votre projet", new_simulation_path, data: { turbo: false}, class:"link-back" %>
<i class="fa-solid fa-chevron-right"></i>
<%= link_to "Financement", edit_first_step_simulation_path, data: { turbo: false}, class:"link-back" %>
<i class="fa-solid fa-chevron-right"></i>
<%= link_to "Recettes locatives", edit_second_step_simulation_path, data: { turbo: false}, class:"link-back" %>
<i class="fa-solid fa-chevron-right"></i> <strong>Charges</strong>
</h2>
</div>


<div class="form-container" data-controller="fields">

<%= simple_form_for @simulation, url: update_third_step_simulation_path(@simulation), data: { turbo: false}, method: :patch do |f| %>

<div class="form-inline">
  <%= f.input :autres_charges, required:true,
       label: "Autres charges<i class='fa-solid fa-circle-info'><span class='tooltip-i1'>Renseignez les charges concernant le bien</span></i>".html_safe,
       wrapper_html: { class: "form-group-inline" },
       input_html: {
       type: "text",
       class: "form-input-inline",
       placeholder: "Ex : 200",
       pattern: "\\d{2,4}",
       oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);",
       'data-fields-target': 'numberField12',
       'data-action': 'input->fields#validatefield12'},
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>


<div class="form-inline">
  <%= f.input :taxe_fonciere, required:true,
       label: "Taxe foncière annuelle<i class='fa-solid fa-circle-info'><span class='tooltip-i1'>Renseignez la taxe foncère annuelle</span></i>".html_safe,
       wrapper_html: { class: "form-group-inline" },
       input_html: {
       type: "text",
       class: "form-input-inline",
       placeholder: "Ex : 1 200",
       pattern: "\\d{2,4}",
       oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);",
       'data-fields-target': 'numberField13',
       'data-action': 'input->fields#validatefield13'},
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

</div>

  <div class="form-inline-btn">
    <div class="progress-container">
      <div class="progress-bar-p4"></div>
  </div>

    <%= f.button :submit, "Suivant", class: "main-button" %>

  </div>
<% end %>
</div>
</div>
