
<div class="main-container">

<h2 class="title">Votre projet</h2>

<div class="form-container">

<%= simple_form_for @simulation, data: {turbo: false} do |f| %>

<div class="form-inline">
  <%= f.input :prix_du_bien,
       label: "Prix d’achat du bien immobilier FAI",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 200 000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :prix_travaux_renov,
       label: "Montant des travaux de rénovation",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 20 000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :prix_travaux_cont,
       label: "Montant des travaux de construction",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 40 000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :achat_meubles,
       label: "Achat de meubles",
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 15 000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

</div>

  <div class="form-inline-btn">
    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>

    <%= f.button :submit, "Suivant", class: "main-button" %>

  </div>
<% end %>
</div>
