<div class="background-container">

<div class="main-container-form">

<h2 class="title-form"><strong>Votre projet</strong></h2>

<div class="form-container">

<%= simple_form_for @simulation, data: {turbo: false } do |f| %>

<div class="form-inline" data-controller="fields">
  <%= f.input :prix_du_bien,
       label: "Prix d’achat du bien immobilier FAI <i class='fa-solid fa-circle-info'></i>".html_safe,
       wrapper_html: { class: "form-group-inline" },
       input_html: {
       type: "text",
       class: "form-input-inline",
       placeholder: "Ex : 200000",
       pattern: "\\d{7}",
       oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 7);",
       'data-fields-target': 'numberField',
       'data-action': 'input->fields#validate'},
       label_html: { class: "form-label-inline" } %>
       <p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline" data-controller="fields">
  <%= f.input :prix_travaux_renov,
       label: "Montant des travaux de rénovation <i class='fa-solid fa-circle-info'></i>".html_safe,
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline",
       type: "text",
       pattern: "\\d{7}",
       oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 7);",
       'data-fields-target': 'numberField',
       'data-action': 'input->fields#validate',
       placeholder: "Ex : 20000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :prix_travaux_cont,
       label: "Montant des travaux de construction <i class='fa-solid fa-circle-info'></i>".html_safe,
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 40 000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :achat_meubles,
       label: "Achat de meubles <i class='fa-solid fa-circle-info'></i>".html_safe,
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 15 000" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

<div class="form-inline">
  <%= f.input :frais_achat,
       label: "Frais d'achat <i class='fa-solid fa-circle-info'></i>".html_safe,
       wrapper_html: { class: "form-group-inline" },
       input_html: { class: "form-input-inline", placeholder: "Ex : 1 500" },
       label_html: { class: "form-label-inline" }
  %><p class="text-space"><strong>€</strong></p>
</div>

</div>

  <div class="form-inline-btn">
    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>

    <%= f.button :submit, "Suivant", class: "main-button" %>

  </div>
<% end %>
</div>
</div>
