<h3>Mes résultats</h3>
<div class="result_container">

  <div class="result_header">
    <p>Loyer annuel</p>
    <p>Charges déductibles</p>
    <p>Amortissement immobilier</p>
    <p>Amortissement mobilier</p>
    <p>Charges annuelles</p>
    <p>Intérêts d'emprunt</p>
    <p>Coût en  impôts de l’opération</p>
    <p>Cash mensuel net</p>
    <p>Rentabilité nette</p>

  </div>


  <div class="result_card">
    <p class="result-name">Location Meublée <br> Non Professionnelle</p>
      <div class="result_card_bottom_pink">
        <p><%= @simulation.recette_loc %> euros</p>
        <p><%= @simulation.char_deduct_lmnp_mb %> euros</p>
        <p>7 700 euros</p>
        <p>3 000 euros</p>
        <p><%= @simulation.taxe_fonciere +  @simulation.charges_locatives +  @simulation.autres_charges %> euros</p>
        <p><%= @simulation.char_deduct_lmnp_mb %> euros</p>
        <p><%= @simulation.rev_bic_impos_lmnp_mb%> euros</p>
        <p> <%= @simulation.cash_mens_ap_imp_lmnp_mb.round(2) %> euros</p>
        <p class="result_impot"><%= @simulation.rent_net_lmnp_mb.round(2) %></p>
      </div>
  </div>

  <div class="result_card">
    <p class="result-name">Nom propre</p>
    <div class="result_card_bottom_pink">
    <p>18 400 euros</p>
    <p>0%</p>
    <p>7 700 euros</p>
    <p>3 000 euros</p>
    <p>25 000 euros</p>
    <p>2 000 euros</p>
    <p> - </p>
    <p>41%</p>
    <p> <b>0 euros</b></p>

    </div>
  </div>

  <div class="result_card">
    <p class="result-name">Société Civile <br> Immobilière (IS)</p>
    <div class="result_card_bottom_pink">
    <p>18 400 euros</p>
    <p>0%</p>
    <p>7 700 euros</p>
    <p>3 000 euros</p>
    <p>25 000 euros</p>
    <p>2 000 euros</p>
    <p> - </p>
    <p>41%</p>
    <p> <b> 0 euros</b></p>
    </div>
  </div>

  <div class="result_card">
    <p class="result-name">Société Civile <br> Immobilière (IR)</p>
    <div class="result_card_bottom_pink">
    <p>18 400 euros</p>
    <p>0%</p>
    <p>7 700 euros</p>
    <p>3 000 euros</p>
    <p>25 000 euros</p>
    <p>2 000 euros</p>
    <p> - </p>
    <p>41%</p>
    <p> <b> 0 euros</b></p>
    </div>
  </div>

</div>

  <div>
    <h5>Vous souhaitez enregistrer votre projet, le modifier ou faire une nouvelle simulation ?</h5>
    <%= link_to "Enregistrer ma simulation",  profile_path, data: {turbo: false}, class:"main-button", id: "result_main_btn" %>
  </div>
