<div class="background">
  <div class="marge">
    <div class="pink-card-grid-profile">
      <div class="white-header-card">
        <h2>Mes simulations</h2>
        <div>
          <% if @simulations %>
            <% @simulations.each do |simulation| %>
              <span class="white-header-card-line">
                <i class="fa-regular fa-file"></i>
                <%= link_to profile_path({id: simulation}), class:"mini-button-profile2" do %>
                  <span id='button-text'><%= simulation.name%></span>
                <% end %>
                <div class="date-icones">
                  <p>02.03.23</p>
                  <%= link_to simulation_path(simulation), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                    <i class="fa-solid fa-trash"></i>
                  <% end %>
                  <%= link_to new_simulation_path({id: simulation}), data: { turbo: false } do %>
                    <i class="fa-regular fa-pen-to-square"> </i>
                  <% end %>
                </div>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="results" >
        <%= link_to new_simulation_path, data: {turbo: false}, class:"main-button-profile2" do %>
          <span>Faire une nouvelle simulation</span>
        <% end %>
      </div>
    </div>
 </div>

    <% if @simulation %>
      <div class="page-results">
        <div class="simulation-affichage">
          <div class="title-perso">
            <h2 id="title-perso-1"><%= @simulation.name %></h2>
          </div>
          <div class="pink-card-grid">
            <div class="pink-card">
            <h2>Votre projet</h2>
                <div>
                  <span class="card-line"><p>Prix d'achat FAI</p><div class="input-perso"><%= number_with_delimiter(@simulation.prix_du_bien.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Frais de notaire</p><div class="input-perso"><%= number_with_delimiter(@simulation.frais_notaire.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Travaux</p><div class="input-perso"><%= number_with_delimiter((@simulation.prix_travaux_cont + @simulation.prix_travaux_renov).round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Frais d'achat</p><div class="input-perso"><%= number_with_delimiter(@simulation.frais_achat.round, :delimiter => " ") %> €</div></span>
                </div>
            </div>

            <div class="pink-card">
              <h2>Recettes locatives</h2>
                <div>
                  <span class="card-line"><p>Loyer mensuel HC</p><div class="input-perso"><%= number_with_delimiter(@simulation.loyer_hc.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Loyer mensuel CC</p><div class="input-perso"><%= number_with_delimiter(@simulation.loyer_cc.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Taux de révision loyer IRL</p><div class="input-perso">1%</div></span>
                  <span class="card-line"><p>Taux de vacance locative</p><div class="input-perso">2%</div></span>
                </div>
            </div>
            <div class="pink-card">
              <h2>Charges</h2>
                <div>
                  <span class="card-line"><p>Charges locatives (an)</p><div class="input-perso"><%= number_with_delimiter((@simulation.charges_locatives * 12).round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Autres charges</p><div class="input-perso"><%= number_with_delimiter(@simulation.autres_charges.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Taux d'indexation charges</p><div class="input-perso">1%</div></span>
                  <span class="card-line"><p>Taxe foncière annuelle</p><div class="input-perso"><%= number_with_delimiter(@simulation.taxe_fonciere.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Intérêt d'emprunt</p><div class="input-perso"><%= number_with_delimiter(@simulation.int_emp_m(@simulation.mont_cre, @simulation.tx_int_m, @simulation.duree_m).first(12).sum.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Assurance crédit</p><div class="input-perso"><%= number_with_delimiter(@simulation.ass_cr.round, :delimiter => " ") %> €</div></span>
                </div>
            </div>

            <div class="pink-card">
              <h2>Financement</h2>
                <div>
                  <span class="card-line"><p>Apport</p><div class="input-perso"><%= number_with_delimiter(@simulation.apport.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Montant du crédit</p><div class="input-perso"><%= number_with_delimiter(@simulation.mont_cre.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Durée du crédit</p><div class="input-perso"><%= number_with_delimiter(@simulation.duree_credit_an, :delimiter => " ") %> ans</div></span>
                  <span class="card-line"><p>Taux d'intérêt</p><div class="input-perso"><%= number_with_delimiter(@simulation.taux_interet, :delimiter => " ") %>%</div></span>
                  <span class="card-line"><p>Taux assurance emprunt</p><div class="input-perso"><%= number_with_delimiter(@simulation.taux_assurance, :delimiter => " ") %>%</div></span>
                  <span class="card-line"><p>Mensualités</p><div class="input-perso"><%= number_with_delimiter(@simulation.mens_ass.round, :delimiter => " ") %> €</div></span>
                </div>
            </div>
            <div class="pink-card">
              <h2>Bilan mensuel avant impôts</h2>
                <div>
                  <span class="card-line"><p>Recettes locatives</p><div class="input-perso"><%= number_with_delimiter(@simulation.recette_loc.round, :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Charges totales</p><div class="input-perso"><%= number_with_delimiter(@simulation.charg_an.round , :delimiter => " ") %> €</div></span>
                  <span class="card-line"><p>Résultats</p><div class="input-perso"><%= number_with_delimiter(@simulation.bilan_me_av_impots.round, :delimiter => " ") %> €</div></span>
                </div>
            </div>

            <div class="results">
              <div class="pink-card result">
                <span class="card-line"><p>Rentabilité brute</p><div class="input-perso"><%= number_with_delimiter(@simulation.rend_brut.round, :delimiter => " ") %> %</div></span>


              </div>

              <div class="pink-card result">
                    <span class="card-line"><p>Rentabilité nette</p><div class="input-perso"><%= number_with_delimiter(@simulation.rend_net.round, :delimiter => " ") %> %</div></span>
              </div>
            </div>
          </div>
        </div>
        <div class="result_add_table">
          <h3 class="title_result_add_table">Simulation fiscale</h3>
          <div class="result_container_profile">
            <div class="result_header">
              <p>Revenu annuel</p>
              <p>Charges déductibles</p>
              <p>Amortissement</p>
              <p>Echeances annuelles du prêt </p>
              <p>Charges annuelles</p>
              <p>Intérêts d'emprunt</p>
              <p><b>Coût en impôts de l’opération</b></p>
              <p><b>Cash mensuel net</b></p>
              <p>Rentabilité nette</p>
            </div>
            <div class="result_card">
              <p class="result-name">LMNP <br> Micro-Bic</p>
              <div class="result_card_bottom_pink">
                <p class="toto"><%= number_with_delimiter(@simulation.recette_loc.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.char_deduct_lmnp_mb.round, :delimiter => " ") %> €</p>
                <p>0 €</p>
                <p><%= number_with_delimiter(@simulation.remb_y_one.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter((@simulation.taxe_fonciere +  @simulation.charges_locatives +  @simulation.autres_charges).round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.int_emp_m(@simulation.mont_cre, @simulation.tx_int_m, @simulation.duree_m).first(12).sum.round, :delimiter => " ") %> €</p>
                <p> <b> <%= number_with_delimiter(@simulation.cout_imp_lmnp_mb.round, :delimiter => " ") %> €</b></p>
                <p><b><%= number_with_delimiter(@simulation.cash_mens_ap_imp_lmnp_mb.round, :delimiter => " ") %> €</b></p>
                <p class="result_impot"><%= @simulation.rent_net_lmnp_mb.round(1) %> %</p>
              </div>
            </div>
            <div class="result_card">
              <p class="result-name">LMNP <br> Régime réel</p>
              <div class="result_card_bottom_pink">
                <p><%= number_with_delimiter(@simulation.recette_loc.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.char_deduct_lmnp_rr.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.amor_bien_lmp_rr.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.remb_y_one.round , :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter((@simulation.taxe_fonciere +  @simulation.charges_locatives +  @simulation.autres_charges).round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.int_emp_m(@simulation.mont_cre, @simulation.tx_int_m, @simulation.duree_m).first(12).sum.round, :delimiter => " ") %> €</p>
                <p><b><%= number_with_delimiter(@simulation.cout_imp_lmnp_rr.round , :delimiter => " ") %> </b>€</p>
                <p><b><%= number_with_delimiter(@simulation.cash_mens_ap_imp_lmnp_rr.round, :delimiter => " ") %> </b>€</p>
                <p><b><%= number_with_delimiter(@simulation.rent_net_lmnp_rr.round(1), :delimiter => " ") %></b> %</p>
              </div>
            </div>
            <div class="result_card">
              <p class="result-name">Société Civile <br> Immobilière (IS)</p>
              <div class="result_card_bottom_pink">
                <p><%= number_with_delimiter(@simulation.recette_loc.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@char_deduct_sci_is.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.amortissement_sci_is.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.remb_y_one.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter((@simulation.taxe_fonciere +  @simulation.charges_locatives +  @simulation.autres_charges).round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.int_emp_m(@simulation.mont_cre, @simulation.tx_int_m, @simulation.duree_m).first(12).sum.round, :delimiter => " ") %> €</p>
                <p><b><%= number_with_delimiter(@cout_imp_sci_is.round, :delimiter => " ") %> </b>€</p>
                <p><b><%= number_with_delimiter(@cash_mens_ap_imp_sci_is.round, :delimiter => " ") %> </b>€</p>
                <p><b><%= number_with_delimiter(@rent_net_sci_is.round(1), :delimiter => " ") %> </b>%</p>
              </div>
            </div>
            <div class="result_card">
              <p class="result-name">Société Civile <br> Immobilière (IR)</p>
              <div class="result_card_bottom_pink">
                <p><%= number_with_delimiter(@simulation.recette_loc.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.char_deduct_sci_ir.round, :delimiter => " ") %> €</p>
                <p>0 €</p>
                <p><%= number_with_delimiter(@simulation.remb_y_one.round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter((@simulation.taxe_fonciere +  @simulation.charges_locatives +  @simulation.autres_charges).round, :delimiter => " ") %> €</p>
                <p><%= number_with_delimiter(@simulation.int_emp_m(@simulation.mont_cre, @simulation.tx_int_m, @simulation.duree_m).first(12).sum.round, :delimiter => " ") %>€</p>
                <p><b><%= number_with_delimiter(@simulation.cout_imp_sci_ir.round, :delimiter => " ") %> </b>€</p>
                <p><b><%= number_with_delimiter(@simulation.cash_mens_ap_imp_sci_ir.round, :delimiter => " ") %> </b>€</p>
                <p><b><%= number_with_delimiter(@simulation.rent_net_sci_ir.round(1), :delimiter => " ") %> </b>%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>
