<%# Sign_in %>
<div class="main-new">
  <div class="new-card">
    <div class="new-logo">
        <%# <%= image_tag("logo-perspective-OR") %>
    </div>
    <h2>Se connecter</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-inputs">
        <div class="form-inline2">
          <%= f.input :email,
              label: "Adresse e-mail",
              required: false,
              autofocus: true,
              wrapper_html: { class: "form-group-inline" },
              input_html: { class: "form-input-inline2", placeholder: "albert.dupont@gmail.com" },
              label_html: { class: "form-label-inline2" }
          %>
        </div>

        <div class="form-inline2">
          <%= f.input :password,
              label: "Mot de passe",
              required: false,
              input_html: { autocomplete: "current-password" },
              wrapper_html: { class: "form-group-inline" },
              input_html: { class: "form-input-inline2", placeholder: "**********" },
              label_html: { class: "form-label-inline2" }
          %>
        </div>
      </div>

      <div class="main-button2">
        <%= f.button :submit, "Confirmer" %>
      </div>
  </div>
    <% end %>
</div>
